.button {
  padding: 10px 20px;
  background: #FFF;
  border: 1px solid #FA4616;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  max-height: 39px;

  .button__label {
    font-size: 14px;
    font-weight: bold;
    color: #FA4616;
  }

  &:hover {
    background: #FA4616;

    .button__label {
      color: #FFF;
    }
  }
}

.wrapper {
  display: flex;
}



