.button {
  padding: 10px 0;
  background: #FFF;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  max-height: 39px;

  .button__label {
    font-size: 14px;
    font-weight: bold;
    color: #FA4616;
  }

  &:hover {
    .button__label {
      color: #F03200;
    }
  }
}



