.root {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.menu_left {
  width: 30%;
  margin-right: 10px;
  background: #fff;
  padding: 15px;
}

.menu_left_label {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.container_menu {
  //margin-left: 10px;
}

.button_theme {
  height: 28px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
  color: #757575;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;

  &:hover {
    color: #222222;
  }
}

.wr {
  width: 2px;
  background: #FA4616;
  height: 100%;
  margin-right: 10px;
}

.def {
  width: 2px;
  height: 100%;
  margin-right: 10px;
}

.button_theme_active {
  display: flex;
  flex-direction: row;
  height: 28px;
  margin-bottom: 4px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #222222;
  cursor: pointer;
  transition: all 0.3s ease;
}

.conatiner_project {
  background: #fff;
  width: 80%;
  margin-right: 10px;
  padding: 15px;
}

.img {
  width: 100%;
}

.prog {
  width: 150px;
}

.fff {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 15px;
}


.project_label {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.accordion {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  margin-bottom: 15px;
  margin-left: 10px;
}

.result_info {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 20px;
  padding: 5px 15px;
  background: #FA4616;
  border-radius: 20px;
}

.purpose {
  font-size: 18px;
  font-weight: 500;
  color: #343434;
  margin-left: 10px;
  margin-bottom: 20px;
}

.issue {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-left: 10px;
  margin-bottom: 20px;
}

.managment_info {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-left: 10px;
  margin-bottom: 20px;
}

.calendar_info {
  font-size: 18px;
  font-weight: 600;
  color: #3b3b3b;
  margin-left: 10px;
  margin-bottom: 20px;
}
