.button {
  padding: 10px 20px;
  background: #FA4616;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  max-height: 39px;

  &:hover {
    background: #F03200;
  }

  //&:disabled,
  //&[disabled]{
  //  background: #FEDAD0;
  //}
}

.button:disabled {
  background: #FEDAD0;
}

.button__label {
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  margin-right: 8px;
}



