.root {
  padding: 4px 8px;
  background: #FFE6E6;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 26px;
}

.crcl {
  width: 6px;
  height: 6px;
  background: #FF3C3C;
  border-radius: 100px;
}

.label {
  margin-left: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #30353B;
}



