.home {
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 80px;
}

.wrapper {
  display: flex;
  height: 80px;
}

.margin_right {
  margin-right: 16px;
}

.action_border {
  border: 1px dashed #009FDA;

  &:hover {
    border: 1px dashed #009FDA;
  }
}
