.root {
  width: 100%;
  background: #FFF;
  height: 38px;
  align-items: center;
  border-radius: 2px;
}

.root_active {
  width: 100%;
  background: #FFF;
  padding-bottom: 20px;
  min-height: 38px;
  border-radius: 2px;
}

.body {
  padding: 0 20px;
}

.liner {
  width: 100%;
  min-height: 38px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    .label {
      color: #4B4E51;
    }
  }
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: #30353B;
}


